<div class="left-side-menu">

	<div class="h-100" data-simplebar>

		<div class="user-box text-center">

			<img src="/images/users/user-1.jpg" alt="user-img" title="Mat Helme"
				class="rounded-circle img-thumbnail avatar-md">
			<div class="dropdown">
				<a href="#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown"
					aria-expanded="false"><%- `${first_name} ${last_name}` %></a>
				<div class="dropdown-menu user-pro-dropdown">

					<!-- item-->
					<a href="javascript:void(0);" class="dropdown-item notify-item">
						<i class="fe-user me-1"></i>
						<span>My Account</span>
					</a>

					<!-- item-->
					<a href="javascript:void(0);" class="dropdown-item notify-item">
						<i class="fe-settings me-1"></i>
						<span>Settings</span>
					</a>

					<!-- item-->
					<a href="/auth/logout" class="dropdown-item notify-item">
						<i class="fe-log-out me-1"></i>
						<span>Logout</span>
					</a>

				</div>
			</div>

			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#" class="text-muted left-user-info">
						<i class="mdi mdi-cog"></i>
					</a>
				</li>

				<li class="list-inline-item">
					<a href="/auth/logout">
						<i class="mdi mdi-power"></i>
					</a>
				</li>
			</ul>
		</div>

		<div id="sidebar-menu">

			<ul id="side-menu">

				<li>
					<a href="/">
						<i class="mdi mdi-view-dashboard-outline"></i>
						<span> Dashboard </span>
					</a>
				</li>

				<li>
					<a href="/customers">
						<i class="mdi mdi-calendar-blank-outline"></i>
						<span> Customers </span>
					</a>
				</li>

				<li>
					<a href="/interactions">
						<i class="mdi mdi-calendar-blank-outline"></i>
						<span> Interactions </span>
					</a>
				</li>

				<!-- <li>
					<a href="/sales">
						<i class="mdi mdi-calendar-blank-outline"></i>
						<span> Sales </span>
					</a>
				</li> -->

				<!-- <li>
					<a href="/Report">
						<i class="mdi mdi-calendar-blank-outline"></i>
						<span> Report </span>
					</a>
				</li> -->

			</ul>

		</div>

		<div class="clearfix"></div>

	</div>

</div>