<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sales | 2020/241139</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="/images/favicon.ico">

    <link href="/libs/custombox/custombox.min.css" rel="stylesheet">

    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />

</head>

<!-- body start -->
<body class="loading" data-layout-color="light"  data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light" data-leftbar-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='true'>

<!-- Begin page -->
<div id="wrapper">

	<%- include('../includes/navbar') %>
	<%- include("../includes/sidebar") %>

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body taskboard-box">

                                    <h4 class="header-title mt-0 mb-3 text-primary">Upcoming</h4>

                                    <ul class="sortable-list list-unstyled taskList" id="upcoming">
                                        <li>
                                            <div class="kanban-box">
                                                <div class="checkbox-wrapper float-start">
                                                    <div class="form-check form-check-success ">
                                                        <input class="form-check-input" type="checkbox" id="singleCheckbox2"
                                                            value="option2" aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </div>

                                                <div class="kanban-detail">
                                                    <span class="badge bg-danger float-end">Urgent</span>
                                                    <h5 class="mt-0"><a href="" class="text-dark">Improve
                                                            animation loader</a> </h5>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="Username">
                                                                <img src="/images/users/user-2.jpg" alt="img"
                                                                    class="avatar-sm rounded-circle">
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="5 Tasks">
                                                                <i class="mdi mdi-format-align-left"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="3 Comments">
                                                                <i class="mdi mdi-comment-outline"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div><!-- end col -->


                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body taskboard-box">

                                    <h4 class="header-title mt-0 mb-3 text-warning">In Progress</h4>

                                    <ul class="sortable-list list-unstyled taskList" id="inprogress">
                                        <li>
                                            <div class="kanban-box">
                                                <div class="checkbox-wrapper float-start">
                                                    <div class="form-check form-check-success">
                                                        <input class="form-check-input" type="checkbox" id="singleCheckbox6"
                                                            value="option6" aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </div>

                                                <div class="kanban-detail">
                                                    <span class="badge bg-danger float-end">Urgent</span>
                                                    <h5 class="mt-0"><a href="" class="text-dark">File
                                                            Uploads on cards</a> </h5>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="Username">
                                                                <img src="/images/users/user-6.jpg" alt="img"
                                                                    class="avatar-sm rounded-circle">
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="5 Tasks">
                                                                <i class="mdi mdi-format-align-left"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="3 Comments">
                                                                <i class="mdi mdi-comment-outline"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div><!-- end col -->


                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body taskboard-box">

                                    <h4 class="header-title mt-0 mb-3 text-success">Complete</h4>

                                    <ul class="sortable-list list-unstyled taskList" id="completed">
                                        <li>
                                            <div class="kanban-box">
                                                <div class="checkbox-wrapper float-start">
                                                    <div class="form-check form-check-success ">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="singleCheckbox10" value="option10"
                                                            aria-label="Single checkbox Two">
                                                        <label></label>
                                                    </div>
                                                </div>

                                                <div class="kanban-detail">
                                                    <span class="badge bg-danger float-end">Urgent</span>
                                                    <h5 class="mt-0"><a href="" class="text-dark">Improve
                                                            animation loader</a> </h5>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="Username">
                                                                <img src="/images/users/user-9.jpg" alt="img"
                                                                    class="avatar-sm rounded-circle">
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="5 Tasks">
                                                                <i class="mdi mdi-format-align-left"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="3 Comments">
                                                                <i class="mdi mdi-comment-outline"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div><!-- end col -->

                    </div><!-- end row -->

                </div> <!-- container -->

            </div> <!-- content -->

        </div>

</div>

    <div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCenterModalLabel">Add New</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="mb-3">
                            <label class="form-label" for="name">Task Name</label>
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="assign">Assign to</label>
                                    <input type="text" class="form-control" id="assign" placeholder="">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="priority">Priority</label>
                                    <input type="text" class="form-control" id="priority" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="Sdate">Start Date</label>
                                    <input type="text" class="form-control" id="Sdate" placeholder="">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="Ddate">Due Date</label>
                                    <input type="text" class="form-control" id="Ddate" placeholder="">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light me-1">Save</button>
                        <button type="button" class="btn btn-danger waves-effect waves-light"
                            data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <!-- Vendor -->
        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/libs/simplebar/simplebar.min.js"></script>
        <script src="/libs/node-waves/waves.min.js"></script>
        <script src="/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="/libs/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="/libs/feather-icons/feather.min.js"></script>

        <!-- <script src="/libs/sortablejs/Sortable.min.js"></script> -->

        <!-- Jquery Ui js -->
        <script src="/libs/jquery-ui/jquery-ui.min.js"></script>

        <!-- Modal-Effect -->
        <script src="/libs/custombox/custombox.min.js"></script>

        <!-- Init -->
        <script src="/js/pages/kanban.init.js"></script>

        <!-- draggable init -->
        <!-- <script src="/js/pages/draggable.init.js"></script> -->

        <!-- App js -->
        <script src="/js/app.min.js"></script>
        <script src="/scripts/sales_request.js"></script>

</body>

</html>